

.hidden {
  display: none;
}

body {
  padding: 10px;
  background-color: #fdeabc;
}

.hero {

    
}

.hero h1 {
    color: #2b293f;
    position: relative;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
  font-size: 3rem;
  text-align: left;
}

.hero p {
  font-size: 2rem;
  text-align: center;
}

#where {
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    padding-bottom: 10px;
}

.forecastList li {
  padding: 1%;
}

ul {
  list-style: none;
  padding: 0;
}

#currentConditions {
  background-color: rgb(173, 173, 173);
  border-radius: 6px;
  padding: 5px;
}

#currentConditions h3 {
  padding: 5px;
  font-family: 'Heebo', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
}

#currentList li {
  padding: 5px;
  text-align: center;
}

.ispurple {
  background-color: #857fb8;
}
